html {
  line-height: 1.5;
  font-family: 'PT Serif', serif;
}

body {
  margin: 0;
  padding: 32px;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 2px;
  word-spacing: 3px;
}

code {
  font-size: 15px;
  background-color: rgb(230, 230, 230);
}

.first-h1 {
  font-size: 48px;
}

.link:link {
  color: midnightblue;
}

.link:visited {
  color: midnightblue;
}

.link:hover {
  background: rgba(58, 58, 255, 0.137);
}

.link:focus {
  background: rgba(58, 58, 255, 0.137);
}

.link:active {
  background: midnightblue;
  color: aliceblue;
}

.msgBox {
  width: 242px;
}

.msgBox p {
  padding-left: 82px;
  background-position: 25px center;
  background-repeat: no-repeat;
}

.add-event-listener {
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: grey;
}

.add-event-listener > p {
  color: white;
  text-align: center;
}